cask "posty" do
  version "@VERSION@"
  sha256 "@SHA256@"

  url "https://github.com/coryoso/posty/releases/download/v#{version}/Posty-#{version}.zip"
  name "Posty"
  desc "Native PostgreSQL client"
  homepage "https://github.com/coryoso/posty"

  depends_on macos: :tahoe

  app "Posty.app"
end
